{% extends 'base.html.twig' %}

{% block main %}

    {{ form_start(form) }}
    {{ form_row(form.brand) }}
    {{ form_row(form.model) }}
    {{ form_row(form.licence) }}
    {{ form_row(form.year) }}
    {{ form_row(form.body) }}
    {{ form_row(form.fuel) }}
    {{ form_row(form.power) }}
    {{ form_row(form.engine) }}
    {{ form_row(form.gearbox) }}
    {{ form_row(form.mileage) }}
    {{ form_row(form.serviced) }}

    <button type="submit">Submit!</button>
    {{ form_end(form) }}
{% endblock %}
