{% extends 'baseNew.html.twig' %}

{% block title %}Your cars{% endblock %}

{% block main %}


    <table class="table table-striped table-middle-aligned">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Licence', 'a.licence') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Brand', 'a.brand') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Model', 'a.model') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Year', 'a.year') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Body', 'a.body') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Fuel', 'a.fuel') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Engine', 'a.engine') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Power', 'a.power') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Gearbox', 'a.gearbox') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'mileage', 'a.mileage') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Serviced', 'a.serviced') }}</th>

            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for car in pagination %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.licence }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.body }}</td>
                <td>{{ car.fuel }}</td>
                <td>{{ car.engine }}</td>
                <td>{{ car.power }}</td>
                <td>{{ car.gearbox }}</td>
                <td>{{ car.mileage }}</td>
                <td>
                    {% if car.serviced == 1 %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('car_list', { 'id': car.id }) }}">
                        <svg id="i-settings" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M13 2 L13 6 11 7 8 4 4 8 7 11 6 13 2 13 2 19 6 19 7 21 4 24 8 28 11 25 13 26 13 30 19 30 19 26 21 25 24 28 28 24 25 21 26 19 30 19 30 13 26 13 25 11 28 8 24 4 21 7 19 6 19 2 Z" />
                            <circle cx="16" cy="16" r="4" />
                        </svg></a>
                    <a href="{{ path('delete_car', { 'id': car.id }) }}">
                        <svg id="i-ban" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <circle cx="16" cy="16" r="14" />
                            <path d="M6 6 L26 26" />

                            {{ include('web/_delete_form.html.twig', {car: car}, with_context = false) }}
                        </svg></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">Cars not found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
