{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block main %}

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Register!</button>
    <div class="g-recaptcha" data-sitekey="6Lc3m1gUAAAAANI-IwJgJSnF0QUdv5xShXQVX9kT"></div>

    {% for message in app.flashes('error') %}
        <div class="flash-error">
            <span style="color: red; ">
            {{ message }}
            </span>
        </div>
    {% endfor %}
    {{ form_end(form) }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
