<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href="{{ path('index') }}">Home</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')== false %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('register') }}">Registration</a>
                    </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                    {#<li class="nav-item">
                        <a class="nav-link" href="{{ path('changepassword') }}">Change Password</a>
                    </li>#}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('profile', { 'id': app.user.id }) }}">My profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('car_list') }}">Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('visit_new') }}">Visits</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </nav>
</header>

<main role="main" class="container main">
    {% block main %}
    {% endblock %}
</main>
{% block javascripts %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>